.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;  /* 根据需要设置背景颜色 */
    padding: 10px;  /* 根据需要设置内边距 */
}

.ant-dropdown-link {
    display: inline-flex;
    align-items: center;  /* 垂直居中对齐 */
    padding: 8px 16px;    /* 上下左右内边距 */
    color: #1890ff;        /* 字体颜色 */
    font-size: 14px;       /* 字体大小 */
    border-radius: 4px;    /* 圆角边框 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 添加过渡效果 */
}

/* 鼠标悬停时的效果 */
.ant-dropdown-link:hover {
    background-color: rgba(24, 144, 255, 0.1); /* 背景颜色 */
    color: #0056b3;  /* 悬停时的字体颜色 */
}

/* 添加下拉图标样式 */
.ant-dropdown-link .anticon {
    margin-left: 8px; /* 与文本的左侧间距 */
    transition: transform 0.3s ease; /* 添加旋转过渡效果 */
}

/* 鼠标悬停时图标旋转 */
.ant-dropdown-link:hover .anticon {
    transform: rotate(180deg); /* 悬停时旋转图标 */
}